:root,
:root[data-theme='light'] {
  --sl-color-accent-low: #cff2ff !important;
  --sl-color-accent: #68ba7f !important;
  --sl-color-accent-high: #2e6f40 !important;
  --sl-color-text-accent: #2e6f40 !important;
}

:root[data-theme='dark'] {
  --sl-color-accent-low: #2e6f40 !important;
  --sl-color-accent: #68ba7f !important;
  --sl-color-accent-high: #1E6EF4 !important;
  --sl-color-text-accent: #68ba7f !important;
}

.sl-markdown-content a:not([class*="sl-"]) {
  color: var(--sl-color-text);
  text-decoration: underline;
  text-decoration-color: var(--sl-color-accent);
}

/* 大標題*/
.site-title {
  color: var(--sl-color-text) !important;
}